*{
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 20px;

    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    
    color: #EEEEEE;
}

body{
    width: 100%;
    background-color: #EEEEEE;
}


header{
    min-height: 650px;
    background-color: #270082;
    
    
    
  
}    

.container{
    width: 100%;
    
}

section{
    min-height: 700px;
}

.about{
  
    border-bottom-left-radius: 40% ;
    border-bottom-right-radius: 40%;
   
}